In [1]:
import pandas as pd
import re

In [2]:
sepet = pd.read_csv("sepetcioglu_restaurant.csv")

In [3]:
print("\nSepet Info:")
print(sepet.info())
print(sepet.head())

Sepet Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   photo            29 non-null     object
 1   rating           29 non-null     int64
 2   rating_category  29 non-null     object
dtypes: int64(1), object(2)
memory usage: 828.0+ bytes
None
                           photo  rating    rating_category
0  sepetcioglu_restaurant/09.png       4              taste
1  sepetcioglu_restaurant/01.png       5  indoor_atmosphere
2  sepetcioglu_restaurant/25.png       2               menu
3  sepetcioglu_restaurant/10.png       5              taste
4  sepetcioglu_restaurant/02.png       3  indoor_atmosphere

In [7]:
print("\nMissing values for text of reviews, hence invalid dataset.")

Missing values for text of reviews, hence invalid dataset.

In [8]:
reviews = pd.read_csv("reviews.csv")
print("Reviews Info:")
print(reviews.info())
print(reviews.head())

Reviews Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   business_name    1100 non-null   object
 1   author_name      1100 non-null   object
 2   text             1100 non-null   object
 3   photo            1100 non-null   object
 4   rating           1100 non-null   int64
 5   rating_category  1100 non-null   object
dtypes: int64(1), object(5)
memory usage: 51.7+ KB
None
                     business_name    author_name  \
0  Haci'nin Yeri - Yigit Lokantasi    Gulsum Akar
1  Haci'nin Yeri - Yigit Lokantasi  Oguzhan Cetin
2  Haci'nin Yeri - Yigit Lokantasi     Yasin Kuyu
3  Haci'nin Yeri - Yigit Lokantasi     Orhan Kapu
4  Haci'nin Yeri - Yigit Lokantasi     Ozgur Sati

                                                text  \
0  We went to Marmaris with my wife for a holiday...
1  During my holiday in Marmaris we ate here to f...
2  Prices are very affordable. The menu in the ph...
3  Turkey's cheapest artisan restaurant and its f...
4  I don't know what you will look for in terms o...

                                               photo  rating  \
0         dataset/taste/hacinin_yeri_gulsum_akar.png       5
1        dataset/menu/hacinin_yeri_oguzhan_cetin.png       4
2  dataset/outdoor_atmosphere/hacinin_yeri_yasin_...       3
3  dataset/indoor_atmosphere/hacinin_yeri_orhan_k...       5
4           dataset/menu/hacinin_yeri_ozgur_sati.png       3

      rating_category
0               taste
1                menu
2  outdoor_atmosphere
3   indoor_atmosphere
4                menu

In [9]:
reviews = reviews.drop_duplicates()

In [10]:
reviews = reviews.drop(columns= ['photo'])

In [11]:
def clean_text(text):
    """Basic text cleaning: strip, collapse spaces."""
    text = str(text).strip()
    text = re.sub(r'\s+', ' ', text)  # collapse multiple spaces
    return text
for col in ["business_name", "author_name", "text", "rating_category"]:
    reviews[col] = reviews[col].apply(clean_text)

In [12]:
reviews['business_name'].value_counts()

business_name
Haci'nin Yeri - Yigit Lokantasi    11
Rumeli Iskembecisi                 11
Koco Restaurant                    11
Ciya Sofrasi                       11
Asucan Restaurant                  11
                                   ..
Kumrucu Omur                       11
Sardalye                           11
Sushico                            11
Alsancak Firin                     11
Miss Pizza                         11
Name: count, Length: 100, dtype: int64

In [13]:
reviews['rating'].unique()

array([5, 4, 3, 2, 1])

In [14]:
reviews['rating_category'].unique()

array(['taste', 'menu', 'outdoor_atmosphere', 'indoor_atmosphere'],
      dtype=object)

In [15]:
reviews_cleaned = reviews.sort_values(by=['business_name', 'rating'], ascending=[True, True]).reset_index(drop=True)

In [16]:
reviews_cleaned.head()

,business_name,author_name,text,rating,rating_category
0,Abidin Tantuni,Ugurcan Arbaz,It was too oily and the place had problems wit...,2,taste
1,Abidin Tantuni,Busra Uzun,It was too spicy on my first try; but after a ...,4,outdoor_atmosphere
2,Abidin Tantuni,Simge Sahin,The taste is good but not satisfying.,4,menu
3,Abidin Tantuni,Ali Simsek,Deliciousss!,4,taste
4,Abidin Tantuni,Erdal Dalgalar,One of the Most Beautiful Meat Tantuni Places....,4,indoor_atmosphere

In [17]:
reviews_cleaned.to_csv("reviews_cleaned.csv", index=False)
print("\nCleaned data saved to 'reviews_cleaned.csv'")

Cleaned data saved to 'reviews_cleaned.csv'